.error {
  border: red 3px solid;
  border-radius: 5px;
  padding: 8px;
  color: red;
}

.success {
  border: green 3px solid;
  border-radius: 5px;
  padding: 8px;
  color: green;
}

.oneBlog {
  border: purple 3px solid;
  border-radius: 5px;
  padding: 8px;
  margin: 5px;
  color: purple;
}